@layout('layouts.app')

@section('content')

<header class="masthead" style="background-color: black">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> 404 NOT FOUND </h1>
            <span class="subheading"> <a href ='/'>Return to official page </a></span>
          </div>
        </div>
      </div>
    </div>
  </header>





@endsection