.rating-wrapper{
	direction: rtl;
}
.rating-wrapper input{
	display: none;
	}


.rating-wrapper label{
	display: inline-block;
	width: 30px;
	position: relative;
	cursor: pointer;
}

.rating-wrapper label:before{
	content: '★ ';
	position: absolute;
	width: 30px;
	display: inline-block;
	top: 0;
	left:0;
}

.rating-wrapper label:after{
	content: '★ ';
	position: absolute;
	width: 30px;
	display: inline-block;
	top: 0;
	left:0;
	color: yellow;
	opacity: 0;
}

.rating-wrapper label:hover:after,
.rating-wrapper label:hover ~ label:after,
.rating-wrapper input:checked ~ label:after
{
	opacity: 1;

}
/*
.rating-wrapper:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.rating-wrapper:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.rating-wrapper:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  content         :  "\2605"
  background-size : contain;
}

.rating-wrapper:not(old) > label:before{
  content         : "\2605";
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('starimg.png'); // copy your star image url Here
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.rating-wrapper:not(old) > label:hover:before,
.rating-wrapper:not(old) > label:hover ~ label:before,
.rating-wrapper:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
*/

/*
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
/*
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}*/